[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
django-filter = "*"
markdown = "*"
asgiref = "==3.8.1"
django = "==5.1.1"
djangorestframework = "==3.15.2"
sqlparse = "==0.5.1"
tzdata = "==2024.2"
pillow = "*"
django-extensions = "*"
django-silk = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
